.nav1 {
    background-color: #2892d7;
    text-align: right;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px;
}

.nav1 a {
    font-weight: bolder;
    font-size: larger;
    color: #ffffff;
}

.header {
    align-content: center;
}

.header h1{
    color: #6daedb;
    background-color: #ffffff;
    padding-left: 30;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
}

h1 {
    font-family: 'Lucida Sans', Helvetica;;
    padding-left: 30px;
    font-weight: 400;
    color:#6daedb;
}

h2 {
    font-family: 'Lucida Sans', Helvetica;
    font-weight: 600;
    font-size:x-large;
    margin: 0;
    color:#1d70a2;
}

h3 {
    font-family: 'Lucida Sans', Helvetica;
    padding-right: 30px;
    font-weight: lighter;
    color:#2892d7;
}

h4 {
    font-family: 'Lucida Sans', Helvetica;
    padding-right: 30px;
    font-weight: bold;
    font-style: italic;
    color:#1d70a2;
}

h5 {
    font-family: 'Lucida Sans', Helvetica;
    padding-right: 30px;
    font-size: larger;
    font-weight: bold;
    color: #2892d7;
}

p {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: rgb(64, 64, 64);
    align-content: left;
    width: 800px;
    padding-right: 50px;
}

.section1 {
    padding: 30px;
    width: 800px;
    background-color: #c4e2f7;
}

.section2 {
    padding: 30px;
}

.section3 {
    padding: 30px;
    width: 800px;

}

.footer {
    background-color: #1d70a2;
    padding: 50px;
    border: 10px #7b7263;
    margin: 0;
    color: #ffffff;
}